[control_plane]
control1 ansible_host=${k8master_ip} ansible_user=ubuntu 

[workers]
%{ for index, ip in workernode_ip ~}
${hostname}${index+1} ansible_host=${ip} ansible_user=ubuntu
%{ endfor ~}

[all:vars]
ansible_python_interpreter=/usr/bin/python3
